<div class="container-fluid bg-danger  py-5" th:fragment="footer">
    <div class="container">
        <h3 class="text-light">Direccion</h3>
        <p class="text-light">
            Calle, Gral. Juan Manuel Torrea 40 bis, esquina José María, Iztapalapa, 09100 Parras de la Fuente,
            CDMX
        </p>
        <h3 class="text-light">Contacto</h3>
        <p class="text-light">
            <i class="fa-solid fa-phone"></i> 5529459032
        </p>

    </div>
    <div class="container">
        <h3 class="text-light">Redes Sociales</h3>
        <div class="container">
            <a href="#" class="me-3 link-light text-uppercase link-underline link-underline-opacity-0 link-opacity-50-hover"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="me-3 link-light text-uppercase link-underline link-underline-opacity-0 link-opacity-50-hover"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#" class="me-3 link-light text-uppercase link-underline link-underline-opacity-0 link-opacity-50-hover"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>