<div class=" container-fluid py-5 bg-success " th:fragment="headerInicio">
    <div class="">
        <h2 class="text-uppercase text-light">mi pequeña jungla</h2>
    </div>
    <nav class="my-3">
        <a th:href="@{/}" class="me-3 link-light text-uppercase link-underline link-underline-opacity-0 link-opacity-50-hover">
            <i class="fa-solid fa-house"></i> 
            Inicio
        </a>
        <a th:href="@{/servicios-home}" class="me-3 link-light text-uppercase link-underline link-underline-opacity-0 link-opacity-50-hover">
            <i class="fa-solid fa-shield-dog"></i> 
            Servicios
        </a>
        <a th:href="@{/login}" class="me-3 link-light text-uppercase link-underline link-underline-opacity-0 link-opacity-50-hover">
            <i class="fa-solid fa-user"></i>
            Iniciar Sesion
        </a>
    </nav>
</div>