    <div class="menu_desplegable hidden" th:fragment="menu-principal">
        <div class="btn-menu-interno">
            <span class="bar bar-rojo"></span>
            <span class="bar bar-rojo"></span>
            <span class="bar bar-rojo"></span>
        </div>
        <ul class="nav_link">
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Administrador</p>
                <ul class="lista-interna hidden">
                    <li class="link" >
                        <a th:href="@{/empleados/}">Empleados</a>
                    </li>
                    <li class="link" >
                        <a th:href="@{/servicios/}">Servicios</a>
                    </li>
                    <li class="link" >
                        <a th:href="@{/usuarios/}">Usuarios</a>
                    </li>
                </ul>
            </li>
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Veterinario</p>
                <ul class="lista-interna hidden">
                    <li class="link" >
                        <a th:href="@{/vacunas/}">Vacunas</a>
                    </li>
                    <li class="link" >
                        <a th:href="@{/cirugias/}">Cirugias</a>
                    </li>
                    <li class="link" >
                        <a th:href="@{/diagnosticos/}">Diagnosticos</a>
                    </li>
                    <li class="link" >
                        <a th:href="@{/inventario/}">Inventario</a>
                    </li>
                    <li class="link" >
                        <a th:href="@{/alergias/}">Alergias</a>
                    </li>
                    <li class="link">
                        <a th:href="@{/tratamientos/}">Tratamientos</a>
                    </li>
                    <li class="link">
                        <a th:href="@{/insumos/}">Insumos</a>
                    </li>
                </ul>
            </li>
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Recepcionista</p>
                <ul class="lista-interna hidden">
                    <li class="link " >
                        <a th:href="@{/clientes/}">Clientes</a>
                    </li>
                    <li class="link " >
                        <a th:href="@{/mascotas/}">Mascotas</a>
                    </li>
                </ul>
            </li>
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Mas Opciones</p>
                <ul class="lista-interna hidden">
                    <li class="link " >
                        <a th:href="@{/}" class="list_inside list_inside_click">Cerrar Sesion</a>

                    </li>
                    
                </ul>
            </li>
            
        </ul>
    </div>
    
    