    <div class="menu_desplegable hidden" th:fragment="menu-principal">
        <div class="btn-menu-interno">
            <span class="bar bar-rojo"></span>
            <span class="bar bar-rojo"></span>
            <span class="bar bar-rojo"></span>
        </div>
        <ul class="nav_link">
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Veterinario</p>
                <ul class="lista-interna hidden">
                    <li class="link" >
                        <a th:href="@{/alergias/}">Alergias</a>
                    </li>
                </ul>
            </li>
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Veterinario</p>
                <ul class="lista-interna hidden">
                    <li class="link" >
                        <a href="lista-alergias.html">Vacunas</a>
                    </li>
                </ul>
            </li>
            <li class="nav_link_li">
                <p class="list_inside list_inside_click">Veterinario</p>
                <ul class="lista-interna hidden">
                    <li class="link " >
                        <a href="lista-alergias.html">Salpullido</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    