<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class=" container">
        <h2>Diagnosticos</h2>
        <a th:href="@{/diagnosticos/agregar}" class="btn btn-success my-3">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Fecha de Diagnostico</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="diagnostico:${diagnosticos}">
                    <td th:text="${diagnostico.id}"></td>
                    <td th:text="${diagnostico.nombre}"></td>
                    <td th:text="${diagnostico.descripcion}"></td>
                    <td th:text="${diagnostico.fecha_diagnostico}"></td>
                    <td><a th:href="@{/diagnosticos/actualizar(id=${diagnostico.id})}"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td><a th:href="@{/diagnosticos/eliminar(id=${diagnostico.id})}"><i class="fa-solid fa-trash trash"></i></a></td>
                </tr>
                <tr th:if="${diagnosticos.size() == 0}">
                    <td colspan="5">No hay diagnosticos registradas.</td>
                </tr>
            </tbody>
        </table>
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila" th:each="diagnostico:${diagnosticos}">
                <div class="columna">
                    <div class="col-header">id</div>
                    <div class="col-contenido" th:text="${diagnostico.id}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre</div>
                    <div class="col-contenido" th:text="${diagnostico.nombre}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Descripcion</div>
                    <div class="col-contenido" th:text="${diagnostico.descripcion}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Fecha de Diagnostico</div>
                    <div class="col-contenido" th:text="${diagnostico.fecha_diagnostico}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a th:href="@{/diagnosticos/actualizar(id=${diagnostico.id})}"><i class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"> <a th:href="@{/diagnosticos/eliminar(id=${diagnostico.id})}"><i class="fa-solid fa-trash trash"> </i> </a></div>
                </div>

            </div>
            <div class="fila" th:if="${diagnosticos.size() == 0}">
                <div class="col-header">
                    No hay Empleados Registrados
                </div>
            </div>
            <!-- Fin de la fila mobile -->
        </div>
    </div>
    <!-- Pie de pagina -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>