<!DOCTYPE html>
<html lang="es">

<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>

<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="container contenido-container">
        <div class="container container-container">
            <form action="lista-empleado.html" class="container">
                <h3 class="text-uppercase text-center my-5">Datos Generales</h3>
                <!-- Fila 1 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label>Nombre</label>
                        <input type="text" required class="form-control">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Apellido Paterno</label>
                        <input type="text" required class="form-control">
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label>Apellido Materno</label>
                        <input type="text" required class="form-control">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Rol</label>
                        <select name="" id="" class="form-control">
                            <option value="">Veterinario</option>
                            <option value="">Recepcionista</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Cedula Profesional</label>
                        <input type="number" required class="form-control">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Status</label>
                        <select name="" id="" class="form-control">
                            <option value="">Activo</option>
                            <option value="">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Fotografia</label>
                        <input type="file" required class="form-control">
                    </div>
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Fecha de Inicio</label>
                        <input type="date" required class="form-control">
                    </div>
                </div>
                <div class="row">
    
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Telefono Movil</label>
                        <input type="tel" required class="form-control">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Coctacto Emergencia</label>
                        <input type="tel" required class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Correo Electronico</label>
                        <input type="email" required class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-3 col-lg-2 my-3">
                        <input type="submit" value="aceptar" id="aceptar" class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-6 my-32 col-md-3 col-lg-2 my-3">
                        <button  id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>