<!DOCTYPE html>
<html lang="es">

<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>

<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
    </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="container contenido-container">
        <div class="container container-container">
            <form th:action="@{/empleados/guardar}" class="container" method="post" th:object="${empleado}">
                <h3 class="text-uppercase text-center my-5">Datos Generales</h3>
                <!-- Fila 1 -->
                 <div class="row">
                    <input type="hidden" th:field="*{id}">
                 </div>
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre del Empleado" th:field="*{nombre}" name="nombre">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Apellido Paterno</label>
                        <input type="text" required class="form-control" placeholder="Apellido Paterno" name="apellidoPaterno" th:field="*{apellidoPaterno}">
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Apellido Materno</label>
                        <input type="text" required class="form-control" name="apellidoMaterno" th:field="*{apellidoMaterno}" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Estatus</label>
                        <select type="text" required class="form-control" name="estatus" th:field="*{estatus}">
                            <option value="" disabled selected>---seleccionar estatus---</option>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </div> 
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Cedula Profesional</label>
                        <input type="text"  name="cedulaProfesional" id="cedulaProfesional" th:field="*{cedulaProfesional}" class="form-control" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="imagen">Fotografia del Empleado</label>
                        <input type="file" class="form-control"  name="imagen" id="imagen" th:field="*{imagen}" >
                    </div>
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="fechaInicio">Fecha de Inicio</label>
                        <input type="date" required class="form-control" id="fechaInicio" th:field="*{fechaInicio}" name="fechaInicio">
                    </div>
                </div>
                <div class="row">
                    <h3 class="text-uppercase text-center my-5">Contacto</h3>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Telefono Movil</label>
                        <input type="tel"  class="form-control" name="telefonoMovil" placeholder="Telefono Movil" th:field="*{telefonoMovil}" pattern="[0-9]+">
                    </div>
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Telefono Fijo</label>
                        <input type="tel"  class="form-control" name="telefonoFijo" placeholder="Telefono Fijo" th:field="*{telefonoFijo}" pattern="[0-9]+">
                    </div>
                </div>
                <!-- Fin f2 -->
                <!-- F3 -->
                <div class="row">
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <label for="">Correo Electronico</label>
                        <input type="email"  class="form-control" name="correoElectronico" placeholder="Correo Electronico" th:field="*{correoElectronico}">
                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-3 col-lg-2 my-3">
                        <input type="submit" value="aceptar" id="aceptar" class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-6 my-32 col-md-3 col-lg-2 my-3">
                        <a th:onclick="|window.location='@{/empleados/}'|" id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>