<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="container my-5">
        <div class="container container-container">
            <form th:action="@{/vacunas/guardar}" method="post" class="container" th:object="${vacuna}">
                <h3 class="text-center text-uppercase my-5">Actualizar Vacuna</h3>
                <!-- Fila 1 -->
                <div class="row">
                    <!-- columna 1 -->
                     <input type="hidden" th:field="*{id}">
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="text" required class="form-control" id="nombre" name="nombre" placeholder="Nombre de la Vacuna" th:field="*{nombre}">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="number" required class="form-control" id="costo" name="costo" placeholder="Costo Unitario" th:field="*{costo}">
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <select name="tipo_de_vacuna" id="tipo_de_vacuna" class="form-control" aria-placeholder="Tipo de Vacuna" th:field="*{tipo}">
                            <option value="">Tipo 1</option>
                            <option value="">Tipo 2</option>
                        </select>
                    </div>
                    <!-- columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <select name="fabricante" id="fabricante" class="form-control" name="fabricante" aria-placeholder="Fabricante" th:field="*{fabricante}">
                            <option value="">Fabricante 1</option>
                            <option value="">Fabricante 2</option>
                        </select>
                    </div>
                </div>
                <!-- Fin f2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="text" class="form-control" id="dosis" name="dosis" placeholder="Dosis" th:field="*{dosis}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="submit" value="aceptar" id="aceptar" class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <a th:onclick="|window.location='@{/vacunas/}'" id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>