<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
    </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class=" container__lista container">
        <h2 class="text-center text-uppercase my-5">Cirugias</h2>
        <a href="form-cirugia.html" class="btn btn-success mb-3">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre de la cirugia</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Detalles</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">001</th>
                    <td>Gastrotomía</td>
                    <td>3000</td>
                    <td>Cirugía de intestino en perros y gatos</td>
                    <td><a href="form-empleado.html"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila">
                <div class="columna">
                    <div class="col-header">ID</div>
                    <div class="col-contenido">001</div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre de la cirugia</div>
                    <div class="col-contenido">Gastrotomía</div>
                </div>
                <div class="columna">
                    <div class="col-header">Precio</div>
                    <div class="col-contenido">300</div>
                </div>
                <div class="columna">
                    <div class="col-header">Detalles</div>
                    <div class="col-contenido">Cirugia de intestino en perros y gatos</div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a href="form-servicio.html"><i
                                class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"><i class="fa-solid fa-trash trash"></i></div>
                </div>

            </div>
            <!-- Fin de la fila mobile -->
        </div>
        <script th:src="@{/js/menu.js}"></script>
</body>

</html>