<!DOCTYPE html>
    <html lang="es">
        <head th:insert="~{fragmentos/head::head}"> 
    <!--Head fragment-->
        </head>
    <body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="container">
        <div class="container">
            <h3 class="text-center text-uppercase my-3"> Agregar Insumo </h3>
            <form th:action="@{/insumos/guardar}" class="container" method="post" th:object="${insumo}">
                <input type="hidden" th:field="*{id}">
                <!-- Fila 1 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Nombre</label>
                        <input name="nombre" type="text" required class="form-control" th:field="*{nombre}">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Tipo</label>
                        <select name="tipo" id="tipo" class="form-select" th:field="*{tipo}">
                            <option value="" disabled selected>---Selecciona el tipo---</option>
                            <option value="instrumento">Instrumento</option>
                            <option value="medicamento">Medicamento</option>
                            <option value="vacuna">Vacuna</option>
                        </select>
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Descripcion</label>
                        <textarea name="descripcion" type="text"  class="form-control" th:field="*{descripcion}"></textarea>
                    </div>
                </div>
                <!-- Fin f2 -->
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <input type="submit" value="aceptar" id="aceptar" class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <a th:onclick="|window.location='@{/insumos/}'|" id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>