<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class=" container">
        <h2>Insumos</h2>
        <a href="form-insumo.html" class="btn">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center" >
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Jeringa</td>
                    <td>Instrumento</td>
                    <td>Tubo pequeño y hueco para inyectar o extraer líquidos</td>
                    <td><a href="form-insumo.html"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td><i class="fa-solid fa-trash trash"></i></td>
                </tr>  
            </tbody>              
        </table>
        <!-- Tabla que se vera en dispositivos pequeños -->
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila">
                <div class="columna">
                    <div class="col-header">id</div>
                    <div class="col-contenido">1</div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre</div>
                    <div class="col-contenido">Jeringa</div>
                </div>
                <div class="columna">
                    <div class="col-header">tipo</div>
                    <div class="col-contenido">Instrumento</div>
                </div>
                <div class="columna">
                    <div class="col-header">descripcion</div>
                    <div class="col-contenido">Tubo pequeño y hueco para inyectar o extraer líquidos</div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a href="form-servicio.html"><i
                                class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"><i class="fa-solid fa-trash trash"></i></div>
                </div>

            </div>
            <!-- Fin de la fila mobile -->
        </div>
    </div>
    <!-- Pie de pagina -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>