<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class=" container">
        <h2>Insumos</h2>
        <a th:href="@{/insumos/agregar}" class="btn btn-success my-3">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center" >
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th colspan="2">Operaciones</th>
                </tr>
                <tr th:if="${insumos.size() == 0}">
                    <td colspan="10">No hay clientes registradas.</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="insumo : ${insumos}">
                    <td th:text="${insumo.id}"></td>
                    <td th:text="${insumo.nombre}"></td>
                    <td th:text="${insumo.descripcion}"></td>
                    <td th:text="${insumo.tipo}"></td>
                    <td><a th:href="@{/insumos/actualizar(id=${insumo.id})}"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td><a th:href="@{/insumos/eliminar(id=${insumo.id})}"><i class="fa-solid fa-trash trash"></i></a></td>
                </tr>  
            </tbody>              
        </table>
        <!-- Tabla que se vera en dispositivos pequeños -->
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila" th:each="insumo : ${insumos}">
                <div class="columna">
                    <div class="col-header">id</div>
                    <div class="col-contenido" th:text="${insumo.id}" ></div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre</div>
                    <div class="col-contenido" th:text="${insumo.nombre}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Tipo</div>
                    <div class="col-contenido" th:text="${insumo.tipo}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Descripcion</div>
                    <div class="col-contenido" th:text="${insumo.descripcion}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a th:href="@{/insumos/actualizar(id=${insumo.id})}"><i class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"><a th:href="@{/insumos/eliminar(id=${insumo.id})}"><i class="fa-solid fa-trash trash"></i></a></div>
                </div>
            </div>
            <!-- Fin de la fila mobile -->
        </div>
    </div>
    <!-- Pie de pagina -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>