<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="contenido-container">
        <div class="container container-container">
            <h3 class="text-center my-3">Registrar Tratamiento</h3>
            <form th:action="@{/tratamientos/guardar}" class="container" th:object="${tratamiento}" method="post">
                <!-- Fila 1 -->
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Nombre del Tratamiento</label>
                        <input type="text" required class="form-control" name="nombre" th:field="*{nombre}">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" required class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}">
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Duracion</label>
                        <input type="text" required class="form-control" pattern="^\d+$" name="diasDuracion" th:field="*{diasDuracion}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <input type="submit" value="aceptar" id="aceptar" class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <a  th:href="@{/tratamientos/}" class="form-control btn btn-danger text-uppercase">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>