<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class=" contenedor__lista container">
        <h2>Tratamientos</h2>
        <a href="form-tratamiento.html" class="btn btn-success mb-3">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center">
            <thead>
                <tr class="table-dark">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Dias de Duracion</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tratamiento : ${tratamientos}">
                    <td th:text="${tratamiento.id}">001</td>
                    <td th:text="${tratamiento.nombre}"></td>Emulcion</td>
                    <td th:text="${tratamiento.descripcion}"></td><td>Tomar Emulcion 2 veces a la semana</td>
                    <td th:text="${tratamiento.dias}"></td>
                    <td><a th:href="@{/tratamientos/actualizar(id=${tratamiento.id})}"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td><a th:href="@{/tratamientos/eliminar(id=${tratamiento.id})}"></a><i class="fa-solid fa-trash trash"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila">
                <div class="columna">
                    <div class="col-header">id</div>
                    <div class="col-contenido">1</div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre</div>
                    <div class="col-contenido">Emulcion</div>
                </div>
                <div class="columna">
                    <div class="col-header">descripcion</div>
                    <div class="col-contenido">Tomar Emulcion 2 veces a la semana</div>
                </div>
                <div class="columna">
                    <div class="col-header">dias de duracion</div>
                    <div class="col-contenido">5</div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a href="form-servicio.html"><i
                                class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"><i class="fa-solid fa-trash trash"></i></div>
                </div>

            </div>
            <!-- Fin de la fila mobile -->
        </div>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>