<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="container">
        <div class="container container-container">
            <form action="lista-mascota.html" class="container">
                <h3 class="text-center text-uppercase my-3">Datos de la mascota</h3>
                <!-- Fila 1 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Nombre</label>
                        <input type="text" required class="form-control">
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Tipo</label>
                        <!-- <input type="text" required> -->
                        <select name="tipo" id="" class="form-control">
                            <option value="">Gato</option>
                            <option value="">Perro</option>
                            <option value="">Tortuga</option>
                        </select>

                    </div>
                    <br>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Raza</label>
                        <!-- -<se type="text" required> -->
                        <select name="raza" id="" class="form-control">
                            <option value="">chihuahua</option>
                            <option value="">labrador</option>
                            <option value="">Pug</option>
                            <option value="">Husky</option>
                        </select>
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3 ">
                        <label for="">Sexo</label>
                        <!-- <input type="text" required> -->
                        <select name="sexo" id="" class="form-control">
                            <option value="">Macho</option>
                            <option value="">Hembra</option>
                        </select>

                    </div>
                    <br>

                </div>
                <!-- Fin f2 -->
                <!-- F3 -->
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Color</label>
                        <input type="text" required class="form-control">

                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Fecha de Nacimiento</label>
                        <input type="date" required class="form-control">

                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Talla</label>
                        <input type="tel" required class="form-control">

                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Peso</label>
                        <input type="number" step="any" required class="form-control">

                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Imagen</label>
                        <input type="file" required class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <input type="submit" value="aceptar" id="aceptar"
                            class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <button id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>