<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
    </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class="container">
        <h2>Mascota</h2>
        <a th:href="@{/mascotas/agregar}" class="btn btn-success my-3">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Estatus</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Raza</th>
                    <th>sexo</th>
                    <th>color</th>
                    <th>edad</th>
                    <th>talla</th>
                    <th>peso</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mascota : ${mascotas}">
                    <td th:text="${mascota.id}">001</td>
                    <td th:text="${mascota.estatus}"></td>
                    <td th:text="${mascota.imagen}"></td>
                    <td th:text="${mascota.nombre}">Manchas</td>
                    <td th:text="${mascota.tipo}">cachorro</td>
                    <td th:text="${mascota.raza}">Pastor aleman</td>
                    <td th:text="${mascota.sexo}">Macho</td>
                    <td th:text="${mascota.color}">cafe</td>
                    <td th:text="${mascota.fechaDeNacimiento}">6 Años</td>
                    <td th:text="${mascota.talla}">Grande</td>
                    <td th:text="${mascota.peso}">10kg</td>
                    <td><a th:href="@{/mascotas/actualizar(id=${mascota.id})}"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td><a th:href="@{/mascotas/eliminar(id=${mascota.id})}"><i class="fa-solid fa-trash trash"></a></i></td>
                </tr>
                <tr th:if="${mascotas.size() == 0}">
                    <td colspan="4">No hay mascotas registradas.</td>
                </tr>
            </tbody>
        </table>
        <!-- Tabla que se vera en dispositivos pequeños -->
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila" th:each="mascota : ${mascotas}">
                <div class="columna">
                    <div class="col-header">id</div>
                    <div class="col-contenido" th:text="${mascota.id}">1</div>
                </div>
                <div class="columna">
                    <div class="col-header">imagen</div>
                    <div class="col-contenido" th:text="${mascota.imagen}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre</div>
                    <div class="col-contenido" th:text="${mascota.nombre}">Manchas</div>
                </div>
                <div class="columna">
                    <div class="col-header">tipo</div>
                    <div class="col-contenido" th:text="${mascota.tipo}">cachorro</div>
                </div>
                <div class="columna">
                    <div class="col-header">raza</div>
                    <div class="col-contenido" th:text="${mascota.raza}">pastor aleman</div>
                </div>
                <div class="columna">
                    <div class="col-header">color</div>
                    <div class="col-contenido" th:text="${mascota.color}">Cafe</div>
                </div>
                <div class="columna">
                    <div class="col-header">edad</div>
                    <div class="col-contenido" th:text="${mascota.fechaDeNacimiento}">6 años</div>
                </div>
                <div class="columna">
                    <div class="col-header">talla</div>
                    <div class="col-contenido" th:text="${mascota.talla}">Grande</div>
                </div>
                <div class="columna">
                    <div class="col-header">peso</div>
                    <div class="col-contenido" th:text="${mascota.peso}">53 kg</div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a th:href="@{/mascotas/actualizar(id=${mascota.id})}"><i class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"><a th:href="@{/mascotas/eliminar(id=${mascota.id})}"><i class="fa-solid fa-trash trash"></i></a></div>
                </div>

            </div>
            <!-- Fin de la fila mobile -->
        </div>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>