<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <header class="header mb-5" th:insert="~{fragmentos/header-inicio::headerInicio}"></header>

    <!-- Contenido Index -->
    <div class="container my-5 w-50">
        <!-- formulario -->
        <div class="container w-100 my-5">
            <form  th:action="@{/login}" method="post" class="row border p-5">
                <div class="col-12 my-5">
                    <h3 class="text-uppercase text-center">Iniciar Sesion</h3>
                </div>
                <div class="col-12 my-3">
                    <input type="text" placeholder="Nombre del Usuario" name="usuario" class="form-control" required>
                </div>
                <div class="col-12 my-5">
                    <input type="password" placeholder="Contraseña" name="contrasenia" class="form-control" required>
                </div>
                <div class="col-12 col-md-4 my-3 ">
                    <input type="submit" value="Iniciar Sesion" class="btn btn-success form-control" >
                </div>
            </form>
        </div>
        
    </div>

    <!-- Pie de pagina -->
    <footer class="footer mt-5" th:insert="~{fragmentos/footer::footer}"></footer>
</body>

</html>