<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <div class="contenido-container">
        <div class="container container-container">
            <h3 class="text-uppercase text-center my-3">Inventario</h3>
            <form action="lista-inventario.html" class="container">
                <!-- Fila 1 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Insumo</label>
                        <select name="" id="" class="form-control">
                            <option value="">Jeringa</option>
                            <option value="">Vacuna</option>
                            <option value="">Tabletas ALIN</option>
                        </select>
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label for="">Nombre</label>
                        <input type="text" required class="form-control">
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Costo Unitario</label>
                        <input type="number" class="form-control">
                    </div>
                    <!-- columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Cantidad</label>
                        <input type="number" required class="form-control">
                    </div>
                </div>
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Estatus</label>
                        <select name="" id="" class="form-control">
                            <option value="">Disponible</option>
                            <option value="">No Disponible</option>
                        </select>
                    </div>
                    <!-- columna 2 -->
                    <div class="col-12 col-md-6 my-3">
                        <label>Imagen</label>
                        <input type="file" required class="form-control">
                    </div>
                </div>
                <!-- Fin f2 -->
                <div class="row">
                    <!-- Columna 1 -->

                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <input type="submit" value="aceptar" id="aceptar"
                            class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 my-3">
                        <button id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>