<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div  th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
    </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido Index -->
    <div class=" container">
        <h2 class="my-3">Fabricantes</h2>
        <a th:href="@{/fabricantes/agregar}" class="btn btn-success my-3">Agregar</a>
        <table class="table table-striped table-hover table-hidden table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fabricante : ${fabricantes}">
                    <td th:text="${fabricante.id}"></td>
                    <td th:text="${fabricante.nombre}"></td>
                    <td><a th:href="@{/fabricantes/actualizar(id=${fabricante.id})}"><i class="fa-solid fa-pencil pencil"></i></a></td>
                    <td><a th:href="@{/fabricantes/eliminar(id=${fabricante.id})}"><i class="fa-solid fa-trash trash"></i></a></td>
                </tr>
                <tr th:if="${fabricantes.size() == 0}">
                    <td colspan="12">No hay fabricantes registradas.</td>
                </tr>
            </tbody>
        </table>
        <div class="table-mobile">
            <!-- Inicio de la fila mobile -->
            <div class="fila" th:each="fabricante : ${fabricantes}">
                <div class="columna">
                    <div class="col-header">id</div>
                    <div class="col-contenido" th:text="${fabricante.id}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">Nombre</div>
                    <div class="col-contenido" th:text="${fabricante.nombre}"></div>
                </div>
                <div class="columna">
                    <div class="col-header">editar</div>
                    <div class="col-contenido"><a th:href="@{/fabricantes/actualizar(id=${fabricante.id})}"><i class="fa-solid fa-pencil pencil"></i></a></div>
                </div>
                <div class="columna">
                    <div class="col-header">Eliminar</div>
                    <div class="col-contenido"><a th:href="@{/fabricantes/eliminar(id=${fabricante.id})}"><i class="fa-solid fa-trash trash"></i></a></div>
                </div>

            </div>
            <!-- Fin de la fila mobile -->
        </div>
    </div>
    <!-- Pie de pagina -->
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>