<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragmentos/head::head}">
    <!--Head fragment-->
</head>
<body>
    <!-- Menu -->
    <div class="" th:insert="~{fragmentos/menu::menu-principal}">
        <!-- Fragmento de menu -->
     </div>
    <!-- header -->
    <header class="header_lista" th:insert="~{fragmentos/header-principal::header-principal}">
        <!-- fragmento de header-->
    </header>
    <!-- Contenido container Usuario -->
    <div class="container my-5">
        <div class="container container-container">
            <form th:action="@{/servicios/guardar}" method="post" class="container" th:object="${servicio}">
                <h3 class="text-center text-uppercase my-3">Agregar Servicio</h3>
                <!-- Fila 1 -->
                <div class="row">
                    <!-- columna 1 -->
                     <input type="hidden" th:field="*{id}">
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="text" required class="form-control" name="nombre" placeholder="Nombre del servicio" th:field="*{nombre}">
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input pattern="^\d+(\.\d+)?$" type="text" required class="form-control" name="costo" placeholder="Costo" th:field="*{costoServicio}">
                    </div>
                </div>
                <!-- Fin row -->
                <!-- F2 -->
                <div class="row">
                    <!-- columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="text" required class="form-control" name="descripcion" placeholder="Descripcion" th:field="*{descripcion}">
                    </div>
                    <!-- columna 2 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="file" required class="form-control" name="imagen" placeholder="Imagen" th:field="*{imagen}">
                    </div>
                </div>
                <!-- Fin f2 -->
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <input type="submit" value="aceptar" id="aceptar" class="form-control btn btn-success text-uppercase">
                    </div>
                    <div class="col-12 col-md-6 my-32 col-md-6 my-3">
                        <a th:onclick="|window.location='@{/servicios/}'|" id="cancelar" class="form-control btn btn-danger text-uppercase">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin container Usuario -->
    <script th:src="@{/js/menu.js}"></script>
</body>
</html>